<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "site.podruzhkaforum.myapp"
        versionCode = "10"
        version     = "1.3.0">

    <name>ПОДРУЖКАforum</name>

    <description>
        Добро пожаловать на абсолютно новый женский форум!
Это женское онлайн-сообщество "ПОДРУЖКАforum". Наш небольшой мир дружелюбный и гостеприимный. Кроме обсуждения волнующих тем на форуме, также предлагаем различные статьи,  новости и прочее, охватывающие ряд женских интересов.
Не стесняйтесь, вступайте в наши ряды! Мы с нетерпением ждем знакомства с Вами!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#F10DDB" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/a6602586387520148eb179e98753cba7.png" density="ldpi" />
        <icon src="res/android/icon/bbef2c0af94b4eda56ed2817ef5313a1.png" density="mdpi" />
        <icon src="res/android/icon/9ebdbab8a54c351cac14906def7a38ac.png" density="hdpi" />
        <icon src="res/android/icon/43827aad519fb9b1f7a480a6cde6eb8e.png" density="xhdpi" />
        <icon src="res/android/icon/cef0b5b25e4d8e5cfce10970d0ed8e6a.png" density="xxhdpi" />
        <icon src="res/android/icon/5d705aa68e7dce5a3395c159bd30d375.png" density="xxxhdpi" />

        <splash src="res/android/screen/35bc293202f0e2816674773791d26a01.png" density="port-hdpi"/>
        <splash src="res/android/screen/d9627f909fb32175fc68880f118bdcb4.png" density="port-ldpi"/>
        <splash src="res/android/screen/80142406ab6648761bdd01d738b6488e.png" density="port-mdpi"/>
        <splash src="res/android/screen/46c537c3debaafce8dc15b64d47673c6.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/b3407443310d536b404cb445656db29e.png" width="180" height="180" />
        <icon src="res/ios/icon/550e1f247753c66880e8f9a59c40839a.png" width="60" height="60" />
        <icon src="res/ios/icon/dcf44e11f98c671e55876c594d72d99f.png" width="120" height="120" />
        <icon src="res/ios/icon/2460d87f856a3e7333b24db285b1f4f5.png" width="76" height="76" />
        <icon src="res/ios/icon/b6593894aa65d99d1e3f81f8ed632bdb.png" width="152" height="152" />
        <icon src="res/ios/icon/f9a1172fb4d8c09544eb209f1deff40d.png" width="57" height="57" />
        <icon src="res/ios/icon/bb0ba795aa0cb13faf04df85b63398e8.png" width="114" height="114" />
        <icon src="res/ios/icon/6779f9e7ccf8ba772a27d977143c95e9.png" width="72" height="72" />
        <icon src="res/ios/icon/604a7f15af74a2f90d3067755a0f1bc4.png" width="144" height="144" />
        <icon src="res/ios/icon/2fdbb639fbab777a259286b78feea9c4.png" width="167" height="167" />
        <icon src="res/ios/icon/2dfa79d44c05cbf4d3eecff9ed3f999b.png" width="29" height="29" />
        <icon src="res/ios/icon/3336963315e2fadae1d10561d4b3a588.png" width="58" height="58" />
        <icon src="res/ios/icon/66be740e5b6b1fa6656ad0019678c6b8.png" width="87" height="87" />
        <icon src="res/ios/icon/be564a263a7762ad4fc2f8f61ee4e96e.png" width="167" height="167" />

        <splash src="res/ios/screen/93de4422fcad3636a36aa30bff419606.png" />
        <splash src="res/ios/screen/754ad62ec7199f0ce6ce19699c6f078b.png" />
        <splash src="res/ios/screen/0f7ae9d3c5b3dae61b925f00ac99a1d0.png" />
        <splash src="res/ios/screen/48ecec5dc364ed920c0ac53bdd4097a0.png" />
        <splash src="res/ios/screen/649f9a6ff8512fc0f1ba26695aa7d583.png" />
        <splash src="res/ios/screen/59e4786eb53fcffa096593de3e9d966e.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/86eb013f47b67a7ff7e52014e605ac72.png" target="StoreLogo" />
        <icon src="res/windows/icon/add9f18f42ac14f8c812a9940cbfbe83.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/797e91beb5332d99f9614f3aed5cf73e.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/5577f8d2c24e12c6f57f4099515b8a3a.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/7410c070d581b9883678a9c9d3cc7543.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/ae0a559d7ae63403b65afd6e1b3ded8c.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/4107e1d4d9d74e1e0550dcb189e0c4b9.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/8cd24defb4c40553083578d19198804d.png" target="SplashScreen"/>
        <splash src="res/windows/screen/c79dd3c7fe531137e78a5085edfdd09d.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>